node_modules
.next
.git
.github
.vscode
.idea
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
.gitignore
.eslintrc.json
.prettierrc
docker-compose.yml
Dockerfile
.dockerignore
__tests__
coverage

